<!DOCTYPE html>

<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script th:inline="javascript">
        const bno = [[${board.bno}]]
        window.addEventListener("DOMContentLoaded", () => {

            getReplyList()
            deleteReply()
            replyUpdateForm(); //수정폼 버튼 이벤트 지정
            replyCancel();     //취소 버튼 이벤트 지정
            replyInsert();     //등록 버튼 이벤트 지정
            editReply(); // 수정 저장 버튼 이벤트 등록
        })

        function getReplyList(page = 1) {
            const url = `/replies/pages/${bno}/${page}`
            fetch(url).
            then(result => result.json()).
            then(result => addReplyEle(result))
        }


        function addReplyEle(result) {
            let replies = document.querySelector(".replies")
            replies.innerHTML = "";
            result.list.forEach((reply) => {
                replies.insertAdjacentElement('beforeend', replyMake(reply))
            })

            const div = document.querySelector('.replyPage');
            div.innerHTML = pagingMake(result.paging)
        }

        /*-------------------------------------
페이지 번호 태그 만들기
---------------------------------------*/
        function pagingMake(paging){

            let tag = `<ul class="pagination">`;

            //이전버튼
            if (paging.startPage > 1) {
                tag += `<li class="page-item">
		          <a class="page-link"
		             href="javascript:getReplyList(${paging.startPage-1})">이전</a>
		        </li>`
            }

            //페이지 번호
            for(let i = paging.startPage; i<=paging.endPage; i++ ) {
                tag+=`<li class="page-item">
	            <a class="page-link"
	              href="javascript:getReplyList(${i})">${i}</a>
	          </li>`
            }

            //다음 버튼
            if (paging.endPage < paging.lastPage ) {
                tag += `<li class="page-item">
	          <a class="page-link"
	             href="javascript:getReplyList(${paging.endPage +1})">다음</a>
	        </li>`
            }
            tag += `</ul>`

            return tag;
        }

        function replyMake(item){
            let tag = document.createElement("div");
            tag.className = "row mt-2";
            tag.innerHTML = `
        <div class="col-6">${item.reply}</div>
        <div class="col-3">${item.replyer}</div>
        <div class="col-3">
          <button type="button"
                  data-rno="${item.rno}"
                  class="btn btn-success btnReplyUpdateForm">수정</button>
          <button type="button"
                  data-rno="${item.rno}"
                  class="btn btn-danger btnReplyDelete">삭제</button>
        </div>`;
            return tag;
        }

        function deleteReply() {
            let replies = document.querySelector(".replies")
            replies.addEventListener('click', (e) => {
                // console.log(e.target) // 정확하게 클릭한 요소
                // console.log(e.currentTarget) // replies 요소
                if(e.target.classList.contains("delete-btn")) {
                    const rno = e.target.dataset.rno
                    const url = `/replies/${rno}`
                    fetch(url, {
                        method: 'delete',
                    })
                        .then(result => result.text())
                        .then(result => {
                            replies.replaceChildren()
                            getReplyList()
                        })
                }
            })
        }
        /*-------------------------------------
수정폼 버튼 이벤트 지정
---------------------------------------*/
        function replyUpdateForm(){
            document.querySelector(".replies").addEventListener("click", function(){
                //수정 폼 버튼이면
                if(event.target.classList.contains("btnReplyUpdateForm")) {
                    // 버튼을 포함하는 부모태그
                    const div = event.target.closest(".row");

                    // 수정할 데이터
                    const rno = event.target.dataset.rno;
                    const reply = div.children[0].innerHTML;
                    const replyer = div.children[1].innerHTML;

                    const item = {rno, reply, replyer};

                    // 수정폼으로 변경
                    div.replaceWith( replyFormMake(item) );
                }
            })
        }


        // 수정된 댓글 저장하기
        function editReply() {
            const replies = document.querySelector(".replies")
            replies.addEventListener("click", (e) => {
                if(e.target.classList.contains("btnReplyUpdate")) {
                        const div = event.target.closest(".row")
                        const reply = div.getElementsByClassName('reply')[0].value
                        const replyer = div.getElementsByClassName('replyer')[0].value
                        const param = {reply, replyer}

                        const rno = e.target.dataset.rno

                        const url = `/replies/${rno}`
                        fetch(url, {
                            method: 'put',
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body : JSON.stringify(param),
                        })
                            .then(result => result.text())
                            .then(result => {
                                if(Boolean(result)) {
                                    replies.replaceChildren()
                                    getReplyList()
                                }
                            })
                }
            })


        }

        /*-------------------------------------
        수정폼 태그 생성
        ---------------------------------------*/
        function replyFormMake(item){
            let tag = document.createElement("div");
            tag.className = "replyUpdateForm row mt-2 border";
            tag.innerHTML = `
        <div class="col-6"><input class="reply" value="${item.reply}" data-value="${item.reply}"></div>
        <div class="col-3"><input class="replyer" value="${item.replyer}" data-value="${item.replyer}"></div>
        <div class="col-3">
        <button type="button"
                data-rno="${item.rno}"
                class="btn btn-danger btnReplyCancel">취소</button>
        <button type="button"
            data-rno="${item.rno}"
            class="btn btn-success btnReplyUpdate">저장</button>
      </div>`;
            return tag;
        }

        /*-------------------------------------
        취소 버튼 이벤트 지정
        ---------------------------------------*/
        function replyCancel(){
            document.querySelector(".replies").addEventListener("click", function(){
                //수정 폼 버튼이면
                if(event.target.classList.contains("btnReplyCancel")) {
                    // 버튼을 포함하는 부모태그
                    const div = event.target.closest(".row");

                    // 수정할 데이터
                    const rno = event.target.dataset.rno;
                    const reply = div.querySelector("#reply").dataset.value;
                    const replyer = div.querySelector("#replyer").dataset.value;

                    const item = {rno, reply, replyer};

                    // 수정폼으로 변경
                    div.replaceWith( replyMake(item) );

                } //end of if
            }) // end of addEvent
        } //end of function


        /*-------------------------------------
        등록 버튼 이벤트 지정
        ---------------------------------------*/
        function replyInsert(){
            document.querySelector(".btnReplyInsert").addEventListener("click", function(){
                const url = "/replies/new";

                //파라미터 만들기
                const reply = replyForm.reply.value;
                const replyer = replyForm.replyer.value;
                const param = {reply, replyer, bno}

                //등록 요청
                fetch(url, {
                    method:"post",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body : JSON.stringify(param),
                })
                    .then( result => result.text() )
                    .then( result => {
                        if(Boolean(result)) {
                            getReplyList()
                            resetInput()
                        }
                    } )
            })
        }

        function resetInput() {
            // const cardHeader = document.getElementsByClassName('card-header')[0]
            // cardHeader.get
        }
    </script>
</head>
<body>
<div class="container my-5" layout:fragment="content">
    <h2 class="text-center mb-4">Board</h2>

    <!-- Form Start -->
<!--    board: 컨트롤러의 Model에서 던져주는 값 -->
    <form th:object="${board}">
        <div class="mb-3">
            <label for="bno" class="form-label">No.</label>
            <input type="text" th:field="*{bno}" readonly class="form-control" id="bno" placeholder="Enter title" required>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" th:field="*{title}" readonly class="form-control" id="title" placeholder="Enter title" required>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea th:field="*{content}" readonly class="form-control" id="content" rows="4" placeholder="Enter content" required></textarea>
        </div>

        <div class="mb-3">
            <label for="writer" class="form-label">Writer</label>
            <input type="text" th:field="*{writer}" readonly class="form-control" id="writer" placeholder="Enter writer's name" required>
        </div>
    </form>
    <!-- Form End -->

    <div class="card mt-4">
        <div class="card-header">
            <h2>Comment</h2>
            <form name="replyForm">
                <div class="row">
                    <div class="col-6">
                        <label>
                            <input name="reply" class="form-control" placeholder="Comment">
                        </label>
                    </div>
                    <div class="col-3">
                        <label>
                            <input name="replyer" class="form-control" placeholder="Commenter">
                        </label>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-success btnReplyInsert">등록</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body replies"></div>
        <div class="replyPage">

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>